body {
    background-image: linear-gradient(rgba(116, 157, 227, 0.8),rgba(116, 157, 227, 0.8)), url("/static/search/library_shelf.jpg");
    font-family: Georgia;
}


.container {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    vertical-align: top;
    display: inline-block;
    margin: 5%;
    backdrop-filter: blur(5px);
}

h3 {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 0;
    font-size: 22px;
}

.form-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    margin: 5%;
    margin-top: 2%;

}

.input-field {
    width: 100%;
    display: inline-block;
}

.input-field .label-container {
    width: 150px;
    text-align: right;
    display: inline-block;
}

#submit-button {
    width: 20%;
    margin: 2%;
    margin-left: 5%;
    margin-bottom: 0;
}

#id_title, #id_author_first, #id_author_middle, #id_author_last, #id_shelf {
    width: 30vw;
}

#id_genre_1, #id_genre_2, #id_genre_3, #id_language {
    width: 30.4vw;
}


.side-bar {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-left: 2%;
    margin-top: 5%;
    padding: 2%;
    vertical-align: top;
    backdrop-filter: blur(5px);
}

.side-bar li {
    font-size: 22px;
    margin-top: 10%;
}
