<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}">
</head>
<body>
<div class="container">
    <h3>Welcome to the Library Catalog!</h3>
    <form action="{% url 'search:search_results' %}" method="POST" id="search-bar">
        {% csrf_token %}
        <select name="search_by">
            <option value="all" selected hidden>Search by...</option>
            <option value="all">All</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="genre">Genre</option>
            <option value="shelf">Shelf</option>
            <option value="language">Language</option>

        </select>
        <input type="text" placeholder="Search..." name="search_term" aria-label="search bar">
        <button>Go!</button>
    </form>
</div>
</body>
</html>





